*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #282828;
  }
  .wrapper{
    height: 100px;
    width: 360px;
    position: relative;
   background-color: #fff;
    border-radius: 10px;

  }
  .wrapper .display,
  .wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper .display{
  
    height: 85px;
    width: 345px;
    background: #1b1b1b;
    border-radius: 6px;
    text-align: center;
  }
  .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #fff, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
  }
